$body-bg: rgb(51, 51, 51);

// dashboard
.dashboard-nav.nav-pills .nav-link {
  border-radius: 0;
  padding: 0.5rem 1rem;
}

.dashboard-nav.nav-pills .nav-link:hover:not(.active) {
  background-color: #375a7f75;
}

// client
.bg-lighter {
  background-color: #f3f6fa;
}

.concert-score {
  font-size: 2.3rem;
  padding-top: 0.2rem;
}

.concert-image {
  max-height: 250px;
  overflow: hidden
}

.card-score {
  width: 48px;
  height: 48px;
}

.header-score {
  width: 64px;
  height: 64px;
}