<template>
  <b-container fluid class="h-100">
    <b-row class="my-3">
      <b-col cols="12">
        <b-form @submit.prevent="add" novalidate>
          <b-form-input id="contentInput" v-model="form.content"/>
        </b-form>
      </b-col>
    </b-row>
    <b-row class="my-3">
      <b-col cols="12">
        <div v-for="chat in reversedChatRoll" v-bind:key="chat.id">
          <div>
            <strong class="text-warning">{{ chat.username }}</strong>
            <small class="pl-2">{{ chat.created | fromNow }}</small>
          </div>
          <!-- <small class="pl-2">{{ moment(chat.created).fromNow() }}</small> -->
          <div>{{ chat.content }}</div>
        </div>
      </b-col>
    </b-row>
    <b-modal
      id="usernameModal"
      title="Enter a username"
      @ok="handleOk"
      hide-header-close
      ok-only
      no-close-on-backdrop
      no-close-on-esc
    >
      <b-form @submit.stop.prevent="setUsername" novalidate>
        <b-form-input id="usernameInput" v-model="form.username"/>
      </b-form>
    </b-modal>
  </b-container>
</template>


<script>
  import '../assets/dashboard.scss';
  import AddChat from '../graphql/Chat/AddChat.gql';
  import ChatAdded from '../graphql/Chat/ChatAdded.gql';
  import ChatRoll from '../graphql/Chat/ChatRoll.gql';
  import moment from 'moment';
  
  export default {
    apollo: {
      chatRoll: {
        query: ChatRoll,
        subscribeToMore: {
          document: ChatAdded,
          updateQuery: (previousResult, { subscriptionData }) => {
            if (previousResult.chatRoll.find(chat => chat.id === subscriptionData.data.chatAdded.id)) {
              return previousResult
            }

            return {
              chatRoll: [
                ...previousResult.chatRoll,
                subscriptionData.data.chatAdded,
              ],
            }
          },
        }
      },
    },
    data() {
      return {
        chatRoll: [],
        form: {
          username: '',
          content: ''
        }
      }
    },
    mounted() {
      this.$bvModal.show('usernameModal');
    },
    computed: {
      reversedChatRoll() {
        return this.chatRoll.slice().reverse();
      }     
    },
    // computed: {
    //   filteredChatRoll() {

    //   }
    // },
    filters: {
      fromNow(date) {
        return moment(date).fromNow();
      }
    },
    methods: {
      add() {
        this.$apollo.mutate({
          mutation: AddChat,
          variables: {
            input: this.form,
          },
        }).then(result => {
          this.form.content = '';
        }).catch(error => {
          console.error(error);
        });
      },
      handleOk(bvModalEvt) {
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.setUsername()
      },
      setUsername() {
        if (this.form.username !== '') {
          console.log(this.form.username);
          this.$nextTick(() => {
            this.$bvModal.hide('usernameModal');
          });
        }
      }
    }
  }
</script>