<template>
  <b-container fluid class="flex-fill d-flex">
    <b-row class="flex-fill">
      <b-col lg="3" class="bg-secondary px-0 min-vh-100">
        <b-navbar
          variant="info"
          type="light"
        >
          <!-- <b-navbar-brand href="#">Dashboard</b-navbar-brand> -->
          <!-- <b-navbar-nav><strong>Dashboard</strong></b-navbar-nav> -->
          <b-navbar-nav>
            <b-link
              :to="{ name: 'dashboard-concerts' }"
              class="text-dark"
            >
              <strong>Dashboard</strong>
            </b-link>
          </b-navbar-nav>
        </b-navbar>
        <dashboard-sidebar/>
      </b-col>
      <b-col class="px-0">
        <b-navbar
          variant="dark"
        >
          <b-navbar-nav class="ml-auto">
            <b-link :to="{ name: 'dashboard-concerts' }">
              Logout
            </b-link>
          </b-navbar-nav>
        </b-navbar>
        <router-view></router-view>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
  import '../assets/dashboard.scss';
  import Component from 'vue-class-component';
  import DashboardSidebar from '../views/DashboardSidebar.vue';
  import Vue from 'vue';

  @Component({
    components: {
      DashboardSidebar,
    },
  })
  export default class ConcertDetail extends Vue {}
</script>